@import url(__link/feynman__link.css);
@import url(__subtitle/feynman__subtitle.css);
@import url(__title/feynman__title.css);

.feynman{
  background-color: #F2F2F2;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../images/feinman/feinman.png');
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 100px;
}